<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UzoFitness.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>UzoFitnessWatch Watch App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F65E613A2DFFA78900A2D01C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F65E61492DFFA78A00A2D01C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F65E61532DFFA78A00A2D01C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F6EE00202E3845F20062D158</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
